
 <ion-content padding class="choose">

    <div class="animation">
        <lottie-animation-view [options]="lottieConfig" [width]="70" [height]="90">
        </lottie-animation-view>
    </div>

    <div class="resume" padding>
        <h5>Explain</h5>
        <p>Keep close to Nature's break clear away, once in awhile, Keep close to Nature's break clear away, once in awhile.</p>
    </div>
    
    <div class="container">
        <ion-grid>
        <!-- debut de teck -->
        <ion-row class="capsul" [routerLink]="['/gamer']">
            <ion-col col-9 push-3>
                <div class="stars">
                    <img src="../../assets/star2/stars1(1).png">
                </div>
            </ion-col >
            <ion-col size="8" col-3 pull-9>
                <div>
                    <h5> Difficult01 </h5>
                <ion-card-content>
                    <p>Keep close to Nature's break clear away, once in awhile.</p>
                </ion-card-content>
                </div>
                </ion-col>
        </ion-row>
        <!-- fin de teck -->
        <!-- debut de teck -->
        <ion-row class="capsul" [routerLink]="['']">
        <ion-col col-9 push-3>
            <div class="stars">
                <img src="../../assets/star2/stars2(1).png">
            </div>
        </ion-col >
        <ion-col size="8" col-3 pull-9>
            <div>
                <h5> Difficult02 </h5>
            <ion-card-content>
                <p>Keep close to Nature's break clear away, once in awhile.</p>
            </ion-card-content>
            </div>
            </ion-col>
            </ion-row>
            <!-- fin de teck -->
            
            <!-- debut de teck -->
            <ion-row class="capsul" [routerLink]="['']">
                <ion-col col-9 push-3>
                <div class="stars">
                    <img src="../../assets/star2/stars(3).png">
                </div>
                </ion-col >
                <ion-col size="8" col-3 pull-9>
                <div>
                    <h5> Difficult03 </h5>
                <ion-card-content>
                    <p>Keep close to Nature's break clear away, once in awhile.</p>
                </ion-card-content>
                </div>
                </ion-col>
            </ion-row>
            <!-- fin de teck -->
            </ion-grid>
    </div>
        <ion-icon class="bouton" name="arrow-round-back" [routerLink]="['/choose']" color="light"></ion-icon>

  </ion-content>