
 <ion-content padding class="choose">
  
  <div class="resume" padding>
      <h5>Explain</h5>
      <p>Keep close to Nature's break clear away, once in awhile, Keep close to Nature's break clear away, once in awhile.</p>
  </div>
  
  <ion-grid>
    <!-- debut de teck -->
    <ion-row class="capsul" [routerLink]="['/difficult']">
        <ion-col col-9 push-3>
          <div class="animation">
            <lottie-animation-view [options]="lottieConfig" [width]="70" [height]="90">
            </lottie-animation-view>
          </div>
        </ion-col >
        <ion-col size="8" col-3 pull-9>
          <div>
              <h5> ROULETTE </h5>
          <ion-card-content>
              <p>Keep close to Nature's break clear away, once in awhile.</p>
          </ion-card-content>
          </div>
          </ion-col>
    </ion-row>
    <!-- fin de teck -->

    <!-- debut de teck 
    <ion-row class="capsul" [routerLink]="['']">
      <ion-col col-9 push-3>
        <div>
          <lottie-animation-view [options]="lottieGroupA" [width]="70" [height]="90">
          </lottie-animation-view>
        </div>
      </ion-col >
      <ion-col size="8" col-3 pull-9>
        <div>
            <h5> ROULETTE </h5>
        <ion-card-content>
            <p>Keep close to Nature's break clear away, once in awhile.</p>
        </ion-card-content>
        </div>
        </ion-col>
  </ion-row> -->

  <!-- debut de teck -->
  <ion-row class="capsul" [routerLink]="['']">
    <ion-col col-9 push-3>
      <div class="animation">
        <lottie-animation-view [options]="lottieGroupB" [width]="70" [height]="90">
        </lottie-animation-view>
      </div>
    </ion-col >
    <ion-col size="8" col-3 pull-9>
      <div>
          <h5> ROULETTE </h5>
      <ion-card-content>
          <p>Keep close to Nature's break clear away, once in awhile.</p>
      </ion-card-content>
      </div>
      </ion-col>
</ion-row>
<!-- fin de teck -->

<!-- debut de teck -->
<ion-row class="capsul" [routerLink]="['']">
  <ion-col col-9 push-3>
    <div class="animation">
      <lottie-animation-view [options]="lottieGroupC" [width]="70" [height]="90">
      </lottie-animation-view>
    </div>
  </ion-col >
  <ion-col size="8" col-3 pull-9>
    <div>
        <h5> ROULETTE </h5>
    <ion-card-content>
        <p>Keep close to Nature's break clear away, once in awhile.</p>
    </ion-card-content>
    </div>
    </ion-col>
</ion-row>
<!-- fin de teck -->

 </ion-grid>  
</ion-content>